.
..
/settings/local.py
.DS_Store
.env
.idea
*.py[co]
*.pem
*.sw[po]
*.env
*.egg*
var_log
mall.sh
backup
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
*.db
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
static/*
._.DS_Store
aws-pem/*
*.sqlite3
*.sqlite3-journal
.idea/
aws-pem
